:root {
    --Strong-Cyan: hsl(171, 66%, 44%);
    --Light-Blue: hsl(233, 100%, 69%);

    --darkzin: hsl(210, 10%, 33%);
    --dark-white: hsl(201, 11%, 66%);

    
   

    --Strong-Cyan-op:  hsla(171, 66%, 44%, 0.7);
    --Light-Blue-op: hsla(233, 100%, 69%, 0.7);

    --dark-white-op: hsla(201, 11%, 66%, 0.15);

}